/* CSS reset start */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
a{
    text-decoration: none;
}
a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

ol, ul, li {
    list-style:none;display:block;
}

/* CSS reset end */

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#root .card {
    display: flex;
    flex-basis: calc(30% - 10px);
    flex-direction: column;
    border: 1px solid #000;
}








































/* 
#root .card:nth-child(1) {
    order: 2;
    background-color: rgb(80, 62, 114);
}

#root .card:nth-child(2) {
    order: 1;
    background-color: rgb(126, 93, 93);
}

#root .card:nth-child(3) {
    order: 3;
    background-color: rgb(226, 210, 210);
}

#root .card:nth-child(8) {
    order: 5;
    background-color: rgb(231, 25, 25);
} */

